<div>
  <p>Hi,</p>
  <p>It appears that an email confirmation for your account has been requested.</p>
  <p>If it was you, then copy the token below to continue the registration:</p>
  <strong>{{ token }}</strong>
  <p>If it wasn't you, then discard this email!</p>
  <p>
    Thank you!<br />
    <strong>{{appName}} Team</strong>
  </p>
</div>
