<div>
  <p>Hi, {{ name }}</p>
  <p>It appears that a password change for your account has been requested.</p>
  <p>If it was you, then copy the token below to validate the password update:</p>
  <strong>{{ token }}</strong>
  <p>If it wasn't you, then discard this email!</p>
  <p>
    Thank you!<br />
    <strong>{{appName}} Team</strong>
  </p>
</div>
